.page-header {
  background-color: #eee;
  padding: 60px 0px;

  .container {
    .row {
      h1 {
        text-transform: capitalize;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #333;
      }
    }
  }
}


.leftsidebar-section {
  padding: 60px 0px;

  .container {
    .row {
      .left-bar {}

    }
  }
}