.page-header {
  background-color: #eee;
  padding: 50px 0px;

  .container {
    .row {
      h1 {
        text-transform: capitalize;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #333;
      }
    }
  }
}

.url-path {
  .container {
    .row {
      .path {
        padding: 20px 0px;
        border-bottom: 1px solid #eeeeee;

        ul {
          li {
            text-transform: capitalize;
            padding-right: 10px;
            color: #7e7e7e;

            i {
              padding-left: 10px;
              color: #7e7e7e;
            }

            a {
              color: #7e7e7e;

              i {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.leftsidebar-section {
  padding: 40px 0px;

  .container {
    .row {
      .left-bar {
        .left-side {
          width: 20%;

          ul {
            #product {
              background-color: #eee;

              a {
                color: #336699;
              }
            }

            li {
              border-bottom: 1px solid #eee;

              a {
                padding: 15px;
                color: #333;
                font-size: 18px;
                font-weight: 600;
                display: block;
                text-transform: capitalize;
                border-radius: 12px;
                transition: all 0.5s;
              }

              &:hover {
                a {
                  color: #336699;
                }
              }
            }
          }
        }

           .right-side {
          width: 80%;
          padding: 0px 25px;

          .icon-account {
            align-items: center;
            padding-bottom: 20px;
            span {
              i {
                color: #666;
                font-size: 25px
              }  
            }
            h4 {
              text-transform: capitalize;  
              font-size: 20px;
              font-weight: 600;
              color: #333;
              padding-left: 12px;
            }
          }

          .product-add {
            form {
              width: 70%;
              label {
                display: block;  
                color: #666;
                text-transform: capitalize;
                padding: 10px;
              }  

              input {
                width: 100%;
                color: #666;  
                font-size: 17px;
                padding: 9px 10px;
                border: 1px solid #eee;
                border-radius: 9px;

                &:focus {
                  border: 1px solid #333;
                }
              }

              .btn {
                padding: 20px 0px;
                a {
                  display: block;
                  text-transform: uppercase;  
                  text-align: center;
                  color: white;
                  background-color: #333;
                  padding: 10px 15px;
                  font-size: 15px;
                  font-weight: 900;
                  border-radius: 9px;
                  width: 150px;
                  transition: all 0.5s;

                  &:hover {
                      background-color: #336699;  
                  }
                }  
              }
            }  
          }
        }
            
      }
    }
  }
}