.page-header {
  background-color: #eee;
  padding: 50px 00px;

  .container {
    .row {
      h1 {
        text-transform: capitalize;
        text-align: center;
        font-size: 40px;
        font-weight: 900;
        color: #333;
      }
    }
  }
}

.url-path {
  .container {
    .row {
      .path {
        padding: 20px 0px;
        border-bottom: 1px solid #eeeeee;

        ul {
          li {
            text-transform: capitalize;
            padding-right: 10px;
            color: #7e7e7e;

            i {
              padding-left: 10px;
              color: #7e7e7e;
            }

            a {
              color: #7e7e7e;

              i {
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

.leftsidebar-section {
  padding: 40px 0px;

  .container {
    .row {
      .left-bar {
        .left-side {
          width: 20%;

          ul {
            #viewproduct {
              background-color: #eee;

              a {
                color: #336699;
              }
            }

            li {
              border-bottom: 1px solid #eee;

              a {
                padding: 15px;
                color: #333;
                font-size: 18px;
                font-weight: 600;
                display: block;
                text-transform: capitalize;
                border-radius: 12px;
                transition: all 0.5s;
              }

              &:hover {
                a {
                  color: #336699;
                }
              }
            }
          }
        }

        .right-side {
          .product-view {
            .box {
              width: 25%;
              padding: 10px 10px;
              overflow: hidden;

              .main {
                .image {
                  width: 100%;
                  overflow: hidden;

                  img {
                    display: block;
                    width: 100%;
                    transition: all 0.5s;
                  }
                }

                .content {
                  padding: 10px 0px;
                  text-align: center;

                  h4 {
                    color: #333;
                    font-size: 14px;
                    text-transform: capitalize;
                    transition: all 0.5s;

                    &:hover {
                        color: #369;
                    }
                  }

                  .raiting {
                    padding: 7px 0px;

                    i {
                      font-size: 13px;
                    }
                  }

                  span {
                    display: block;
                    font-size: 18px;
                    color: #333;
                    font-weight: 900;

                    &:hover {
                      color: #336699;
                    }
                  }
                }
              }

              &:hover {
                .main {
                  .image {
                    img {
                      transform: scale(1.1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}