// about section start 

.about-section {
    padding: 40px 0px;

    .container {
        .row {
            .main {
                padding: 20px 0px;
                justify-content: space-between;

                .box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .img {
                        i {
                            padding-right: 20px;
                            font-size: 30px;
                            color: #336699;
                            transition: all 0.5s;
                        }
                    }

                    .content {
                        h4 {
                            color: #333;
                        }

                        h5 {
                            color: #666;
                        }
                    }

                    &:hover {
                        .img {
                            i {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }
    }
}

// about section end

// banner section start

.banner-section {
    padding: 40px 0px;
    justify-content: space-between;

    .container {
        .row {
            justify-content: space-between;

            .main-box {
                width: 49%;

                .box {
                    background-repeat: no-repeat;
                    background-size: cover;
                    align-items: center;
                    height: 260px;

                    .content {
                        padding: 0px 40px;
                        width: 50%;

                        h3 {
                            font-size: 20px;
                            color: #333;
                            padding: 5px 0px;

                            span {
                                color: #f77c29;
                                font-weight: 900;
                            }
                        }

                        h2 {
                            font-size: 26px;
                            font-weight: 900;
                        }

                        h4 {
                            font-size: 26px;
                            padding: 5px 0px;
                        }

                        h5 {
                            color: #666;
                            font-size: 18px;
                            padding-top: 30px;

                            span {
                                color: #f77c29;
                                font-size: 18px;
                            }
                        }
                    }

                    .c-2 {
                        h3 {
                            font-size: 20px;
                            color: #c4c4c5;
                            padding: 5px 0px;

                            span {
                                color: #f77c29;
                                font-weight: 900;
                            }
                        }

                        h2 {
                            font-size: 26px;
                            font-weight: 900;
                            color: white;
                        }

                        h4 {
                            font-size: 26px;
                            padding: 5px 0px;
                            color: white;
                        }

                        h5 {
                            color: white;
                            font-size: 18px;
                            padding-top: 30px;

                            span {
                                color: #f77c29;
                                font-size: 18px;
                                padding-left: 7px;
                            }
                        }
                    }
                }
            }
        }
    }
}

// banner section end

// category section start 

.category-section {
    padding: 40px 0px;
    background-color: #f5f5f5;

    .container {
        .row {
            .head {
                h2 {
                    font-size: 20px;
                    color: #333;
                    text-align: center;
                    font-weight: 900;
                }
            }

            .all-cat {
                justify-content: space-between;
                gap: 10px 0px;
                .box {
                    width: 189px;
                    background-color: #f5f5f5;
                    margin: 15px 0px;
                    .content {
                        .image {
                           img {
                            display: block;
                           }
                            .name {
                                margin-top: -18%;
                                h4 {
                                    text-align: center;
                                }
                            }
                        }


                    }
                }
            }
        }
    }
}

// category section end