.cloth-section {
    padding: 40px 0px;
    .container {
        .row {
            .head {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                h2 {
                    font-size: 20px;
                    color: #333;
                }
                .btn {
                    a {
                        color: #333;
                        font-size: 14px;

                        i {
                            padding-left: 10px;
                        }
                    }
                }
            }
            .main {
                display: flex;
                flex-wrap: wrap;
                .left-side {
                    width: 25%;
                    background-image: url('../../../public/img/2.jpg');
                    .content {
                        .image {
                            img {
    
                            }
                            .details {
                                span {
    
                                }
                                h2 {
    
                                }
                                h3 {
    
                                }
                                .btn {
                                    a {
    
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}